# Rust/Cargo
target/
**/target/

# Cargo package files
**/Cargo.lock

# Executables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Temporary files
*.tmp
*.temp
*.log

# IDE / Editor stuff
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db

# Build directories
/debug/
/release/
